@model IEnumerable<_23DH112807_MyStore.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">DANH SÁCH DANH MỤC SẢN PHẨM</h2> @*background của thanh ngang danh mục sản phẩm màu xanh*@

<table class="table bg-info col-md-10 container-fluid"> @*background của bảng màu xanh*@  @*col-lg-8 để phân chia bố cục bảng thành 8=5+3 cho đẹp*@
<tr>
    <th class="bg-success col-lg-8 col-md-5">
        TÊN DANH MỤC
    </th>
    <th class="bg-success col-lg-3 col-md-5"></th>

</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName) @*hiển thị tên các sản phẩm mà mình lưu trong bảng*@
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary" }) @*tạo đường link và tạo button*@
            @Html.ActionLink("Chi tiết", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Thêm mới ", "Create", null, new { @class = "btn btn-primary" }) @*chỉnh màu cho button cập nhật thông tin và xóa*@

</p>
